<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro1676</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!--Will be displayed on every page-->
  <p>Batch 1676s first app</p>
    <%= yield %>
  <p>Made with love in the Tesla room</p>
  </body>
</html>
